
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.container {
    width: 100%;
    text-align: center;
}

.container-fluid {
    background-color: #212121;
    color: #FFFFFF;
    padding: 20px 0;
    margin-bottom: 50px;
    width: 100vw; /* Занимает всю ширину экрана */
    text-align: center;
    flex-wrap: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-brand {
    color: #FFFFFF; 
    margin: 0 auto; 
    display: table; 
}

.footer {
    background-color: #212121;
    color: #FFFFFF;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}


#checkPaymentBtn,
#createQRBtn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px; 
    margin: 10px;
    color: #FFFFFF;
    background-color: #FA8B03; 
    border: none;
}

#createQRBtn {
    background-color: #4CB050; 
}

input[type="text"] {
    width: 350px;
    padding: 10px;
    margin: 10px;
    background-color: #212121;
    color: #FFFFFF;
    border-radius: 10px; 
}

#paymentStatus {
    margin-top: 20px;
    text-align: center;
}
